<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>44</string>
					<key>EndingLineNumber</key>
					<string>23</string>
					<key>StartingColumnNumber</key>
					<string>39</string>
					<key>StartingLineNumber</key>
					<string>23</string>
					<key>Timestamp</key>
					<string>799418510.86569</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MomotoMindmap/Views/Components/HistoryCard.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>: 0.9</string>
				<key>leading</key>
				<string>                ZStack {
                    RoundedRectangle(cornerRadius: 12, style: .continuous)
                        .fill(Color(red</string>
				<key>trailing</key>
				<string>3, green: 0.90, blue: 1.00)) //purple
                        .frame(width: 52, height: 52)
                    Image(systemName: "brain") // icon per mindmap sementara
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>40</string>
					<key>StartingColumnNumber</key>
					<string>52</string>
					<key>StartingLineNumber</key>
					<string>39</string>
					<key>Timestamp</key>
					<string>799501030.444646</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MomotoMindmap/Views/Components/HistoryCard.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>                    
                    HStack(spacing: 6) {
                        // Source blom ada di models</string>
				<key>trailing</key>
				<string>                        // Date
                        Text(entry.createdAt, style: .date)
                            .font(.system(.caption, design: .rounded))
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
